<div class="container" style="text-align:center">
    <div class="row" style="text-align:center">
        <!-- <div class="col-md-12" style="font-size:22px">Characters </div> -->
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="row" style="text-align:center" *ngIf="characters != null && characters.length>0">
        <div *ngFor="let character of characters" class="col-md-4">

            <div class="panel panel-default" (click)="onSelect(character)">
                <div class="panel-heading">
                        <b>Character Name:</b>
                    <i *ngIf="character.name==''">Not Known</i>
                    {{character.name | uppercase}}</div>
                <div class="panel-body">
                        <b>Character Culture:</b>
                    <i *ngIf="character.culture==''">Not Known</i>
                    <p>{{character.culture}}</p>
                </div>
                <div class="panel-footer">
                        <b>Character Born:</b>
                    <i *ngIf="character.born==''">Not Known</i>
                    {{character.born}}
                    <br/>
                    <br/><br/><a (click)="onSelect(character)" class="btn btn-primary">Details</a>

                </div>

            </div>

            <br/>
        </div>

    </div>

</div>

<!-- <app-character-detail [character]="selectedCharacter"></app-character-detail> -->